@font-face {
  font-family: 'Gilroy Bold';
  src: url('../assets/fonts/Gilroy-Bold.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Medium';
  src: url('../assets/fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../assets/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --black-color: #070707;
  --gray-color: #828282;
  --bgc-colorwh: #FFFFFF;
  --bgc-colorgr: #F6F6F6;
}

body {
  font-family: 'Gilroy Medium', Arial, sans-serif;
}

img {
  width: 100%;
}

.ul-row {
  display: flex;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 100%;
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.header__row {
  display: flex;
  margin-left: 0 auto;
  justify-content: space-between;
  padding-top: 33px;
  padding-bottom: 33px;
}

.header__row a {
  text-decoration: none;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 1.125rem;
}

.header__underline {
  width: 1000px;
  height: 0px;
  border: 1px solid var(--gray-color);
}

.navbar-mob {
  display: none;
}

.container-main {
  display: flex;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.h1 {
  display: block;
  width: 100%;
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 2.9375rem;
  margin-top: 40px;
  margin-bottom: 30px;
}

.h1 h1 {
  margin: 0 auto;
}

.whoami {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
  width: 100%;
  margin-top: 94px;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 1.125rem;
}

.ru-eng {
  display: flex;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  font-family: 'Gilroy Bold', Arial, sans-serif;
  font-size: 1rem;
}

.lang {
  rotate: -90deg;
}

.ru-eng p {
  margin: 0;
}

.ru {
  text-decoration: none;
  color: var(--gray-color);
}

.first-screen__den {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.first-screen__denm {
  display: none;
}

.h2 {
  display: block;
  text-align: center;
  width: 100%;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 2.125rem;
  margin: 0 auto;
}

.about-me {
  margin-top: 105px;
  background-color: var(--bgc-colorgr);
}

.about-me__title {
  display: flex;
  justify-content: center;
  padding-top: 114px;
  margin: 0 auto;
}

.about-me__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-wrap: break-word;
  padding-bottom: 114px;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 18px;
}

.skills {
  margin-top: 91px;
  margin-bottom: 110px;
}

.skills-svg {
  display: block;
  justify-content: center;
  margin: 0 auto;
}

.skills__text {
  display: flex;
  justify-content: center;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 1.125rem;
  margin-top: 69px;
}

.container2 {
  display: flex;
  justify-content: space-between;
  margin-top: 83.5px;
}

.container2 p {
  text-align: center;
  font-weight: 700;
  color: var(--gray-color);
}

.skills-svg__icon {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
  margin: 0 auto;
}

.skills-svg__title {
  text-align: center;
  margin-bottom: 7px;
}

.skills-svg__title2 {
  text-align: center;
  margin: 0;
  margin-bottom: 40px;
}

.skills-svg__title3 {
  text-align: center;
  margin-top: 23px;
  margin-bottom: 59.5px;
}

.portfolio {
  background-color: var(--bgc-colorgr);
}

.portfolio__title {
  padding-top: 112px;
  margin-bottom: 47px;
}

.portfolio-card {
  max-width: 100%;
  margin: 0 auto;
}

.portfolio-card__image {
  margin: 0 auto;
}

.portfolio-card__text {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  margin-top: 45px;
  padding-bottom: 99px;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 1.125rem;
  color: var(--black-color);
}

.footer {
  display: flex;
  margin-top: 114px;
  text-align: center;
}

.contacts__text {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 1.125rem;
}

.message__btn {
  justify-content: center;
  width: 180px;
  height: 42px;
  margin-bottom: 86px;
}

.btn {
  display: inline-block;
  padding: 5px 13px;
  border: 1px solid var(--black-color);
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  color: var(--bgc-colorwh);
  background-color: var(--black-color);
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: var(--black-color);
}

.btn:active {
  box-shadow: none;
}

.btn_transparent {
  background-color: transparent;
}

.btn_transparent:hover {
  background-color: var(--gray-color);
}

.footer__row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 342px;
  max-width: 100%;
  margin-bottom: 86px;
}

.footer__text {
  text-align: center;
  font-family: 'Gilroy Medium', Arial, sans-serif;
  font-size: 0.875rem;
  color: var(--gray-color);
  margin-bottom: 123px;
}

.a-btn {
  background-color: transparent;
  border: none;
  font-family: "Gilroy Bold", Arial, sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  cursor: pointer;
  color: var(--gray-color);
  transition: background-color 0.3s ease-in-out;
}

.a-btn:hover {
  color: var(--black-color);
}

.submenu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: var(--bgc-colorwh);
  padding: 68px 20px 57px 20px;
  display: none;
}

.submenu__links {
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  width: 165px;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 23px;
}

.submenu__close {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 60px;
  right: 50px;
}

.meow {
  display: block;
}

@media (max-width: 520px) {
  .nav {
    display: none;
  }

  .first-screen {
    padding-top: 0;
    padding-left: 25px;
    padding-right: 25px;
  }

  .container-main{
    flex-direction: column;
  }

  .h1 {
    margin-top: 65px;
    margin-bottom: 0px;
    font-size: 47px;
  }

  .whoami {
    text-align: left;
    margin-top: 23px;
    margin-bottom: 37px;
    font-size: 18px;
  }

  .ru-eng {
    display: none;
  }

  .first-screen__den {
    display: none;
  }

  .first-screen__denm {
    display: block;
  }

  .container2 {
    flex-direction: column;
  }

  .message__btn {
    width: 316px;
  }

  .footer__text {
    font-size: 18px;
  }

  .navbar-mob {
    display: block;
    position: absolute;
    top: 68px;
    right: 30px;
  }

  .btnmob {
    background-color: transparent;
    border: none;
  }

  .ru-eng-nav {
    rotate: 180deg;
    position: absolute;
    bottom: 200px;
    right: 0px;
    font-size: 34px;
  }

  .a-btn {
    font-size: 34px;
    text-decoration: none;
  }
}

@media (max-width: 600px) {
  .container2 {
    flex-direction: column;
  }

  .martop {
    margin-top: 82px;
  }
}
